# Dependencies
node_modules
.pnp
.pnp.js

# Testing & Coverage
coverage

# Production Build
dist
dist-ssr
*.local

# Environment variables
.env
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor & OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Lockfiles
bun.lock
bun.lockb
yarn.lock
pnpm-lock.yaml
